@{
    ViewData["Title"] = "Genesis Prime Registration";
}
<head>
    <style>
        /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
        for details on configuring this project to bundle and minify static web assets. */
        body {
            background-image: url('https://images.alphacoders.com/721/721671.jpg');
            /*background-image: url('Mainbackground.jpg');*/
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: auto;
            padding-top: 50px;
            padding-bottom: 20px;
            font-family: 'Oxanium', Verdana, sans-serif;
        }

        a {
            color: orange;
        }

        /* Wrapping element */
        /* Set some basic padding to keep content from hitting the edges */
        .body-content {
            padding-left: 15px;
            padding-right: 15px;
        }


        #footer {
            background-color: black;
            position: absolute;
            bottom: 1px;
            width: 100%;
            left: 0;
            height: 48px;
            text-align: center;
            padding-top: 12px;
            color: paleturquoise;
            text-shadow: 6px 6px 6px black;
            border-radius: 8px;
            background-image: linear-gradient(to bottom, rgb(40, 40, 55), black);
            border: 1pt solid darkcyan;
        }

        #header {
            background-color: black;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 72px;
            text-align: center;
            font-size: 36px;
            padding: 8px;
            color: orange;
            text-shadow: 6px 6px 6px black;
            border-radius: 8px;
            font-family: 'Gugi', Verdana, sans-serif;
            background-image: linear-gradient(to bottom, rgb(40, 40, 55), black);
            border: 1pt solid darkcyan;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid white;
            margin: 1em 0;
            padding: 0;
        }

        #inputField {
            background-color: black;
            width: 100%;
            border: 1px solid darkcyan;
            border-radius: 8px;
            color: paleturquoise;
            font-weight: normal;
            font-size: 10pt;
        }

        #buttonReg {
              background: rgba(40, 40, 55, 1.0);
              border: 1px solid darkcyan;
              border-radius: 8px;
              position: center;
              color: orange;
              width: 100px;
              height: 40px;
              font-size: 14pt;
              font-style: italic;
              background-image: linear-gradient(to bottom, darkcyan, rgb(40, 40, 55));
        }

        #registrationDiv {
            background-color: black;
            border: 1px solid darkcyan;
            position: center;
            border-radius: 8px;
            width: 60%;
            height: 50%;
            background-image: linear-gradient(to bottom, rgb(40, 40, 55), black);
            
        }

        #textConsistency {
            color: paleturquoise;
        }

        #inputTitle {
            color: orange;
            font-size: 14pt;
            font-weight: bold;
            font-family: 'Gugi', Verdana, sans-serif;
        }

        #inputSubtitle {
            color: paleturquoise;
            font-size: 10pt;
        }

        #mainContainer {
            background-color: none;
            position: absolute;
            top: 128px;
            left: 20px;
            border: none;
            border-radius: 8px;
            margin-bottom: 50px;
            height: inherit;
            width: inherit;
        }

        #serverStatusContainer {
            background-color: black;
            border: 1px solid paleturquoise;
            border-radius: 8px;
            position: center;
            bottom: 150px;
            height: 10%;
            width: 50%;
        }

        #serverStatusText {
            font-weight: bold;
            font-size: 36px;
            color: orange;
            font-family: 'Oxanium', Verdana, sans-serif;
        }

        .input-td {
            padding: 24px;
        }

        .input-th {
            padding: 24px;
            width: 300px;
            text-align: right;
        }

    </style>
    <link href='https://fonts.googleapis.com/css?family=Gugi' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Oxanium' rel='stylesheet'>
</head>
<body>
    <div class="container" id="mainContainer">
        <div id="registrationDiv">
            <form asp-action="Register" method="post">
                <table align="center" style="width:90%;">
                    <tr style="padding:24px">
                        <th class="input-th">
                            <p id="inputTitle">Account Name</p>
                            <p id="inputSubtitle">Enter your account's username.</p>
                        </th>
                        <td class="input-td">
                            <input type="text" name="Email" id="inputField" />
                        </td>
                    </tr>
                    <tr style="padding:24px">
                        <th class="input-th">
                            <p id="inputTitle">Password</p>
                            <p id="inputSubtitle">Type the password you want to use for your account.</p>
                        </th>
                        <td class="input-td">
                            <input type="password" name="Password" id="inputField" />
                        </td>
                    </tr>
                    <tr style="padding:24px">
                        <th class="input-th">
                            <p id="inputTitle">Confirm Password</p>
                            <p id="inputSubtitle">Please re-type your password.</p>
                        </th>
                        <td class="input-td">
                            <input type="password" name="Confirmation" id="inputField" />
                        </td>
                    </tr>
                    <tr style="padding:24px">
                        <th class="input-th">
                            <p id="inputTitle">Account Key</p>
                            <p id="inputSubtitle">Please enter your account key. If you were not provided with an account key, please contact support.</p>
                        </th>
                        <td class="input-td">
                            <input type="text" name="AccountLink" id="inputField" />
                        </td>
                    </tr>
                    <tr style="padding:24px">
                        <th colspan="2" class="input-th">
                            <input type="submit" value="Register" id="buttonReg" />
                        </th>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>